Create Database QL_CuaHangXeGanMay
USE [QL_CuaHangXeGanMay]
GO
/****** Object:  Table [dbo].[ChiTietHoaDon]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietHoaDon](
	[MaHoaDon] [nvarchar](50) NOT NULL,
	[SoKhungXe] [nchar](50) NOT NULL,
	[GiamGia] [real] NULL,
	[DonGia] [int] NOT NULL,
	[ThanhTien] [int] NOT NULL,
 CONSTRAINT [PK_ChiTietHoaDon] PRIMARY KEY CLUSTERED 
(
	[MaHoaDon] ASC,
	[SoKhungXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ChiTietPhieuNhap]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietPhieuNhap](
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[SoKhungXe] [nchar](50) NOT NULL,
	[SoMay] [nchar](50) NOT NULL,
	[DonGia] [int] NOT NULL,
	[MaLoaiXeGanMay] [nchar](10) NOT NULL,
 CONSTRAINT [PK_ChiTietPhieuNhap] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC,
	[SoKhungXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DongXe]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DongXe](
	[madongxe] [nchar](10) NOT NULL,
	[tendongxe] [nvarchar](50) NOT NULL,
	[tinhnang] [nvarchar](max) NULL,
	[phankhoi] [nchar](10) NOT NULL,
	[maloai] [nchar](10) NOT NULL,
	[mahang] [nchar](10) NOT NULL,
 CONSTRAINT [PK_DongXe] PRIMARY KEY CLUSTERED 
(
	[madongxe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HangXe]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HangXe](
	[MaHang] [nchar](10) NOT NULL,
	[TenHang] [nchar](10) NOT NULL,
	[SoDienThoai] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[Logo] [nvarchar](max) NULL,
 CONSTRAINT [PK_HangXe] PRIMARY KEY CLUSTERED 
(
	[MaHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HinhThucThanhToan]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhThucThanhToan](
	[MaHinhThuc] [nchar](10) NOT NULL,
	[TenHinhThuc] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_HinhThucThanhToan] PRIMARY KEY CLUSTERED 
(
	[MaHinhThuc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MaKhachHang] [nchar](10) NOT NULL,
	[TenKhachHang] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
	[SoDienThoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MaKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MaLoaiXe] [nchar](10) NOT NULL,
	[TenLoaiXe] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_LoaiXe] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXe] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiXeGanMay]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXeGanMay](
	[MaLoaiXeGanMay] [nchar](10) NOT NULL,
	[TenXe] [nvarchar](50) NOT NULL,
	[MaDongXe] [nchar](10) NOT NULL,
	[TenHang] [nvarchar](50) NULL,
	[TenLoai] [nvarchar](50) NULL,
	[NamSanXuat] [date] NOT NULL,
	[MauSac] [nvarchar](50) NOT NULL,
	[GiaBan] [int] NOT NULL,
	[Anh] [nvarchar](max) NULL,
 CONSTRAINT [PK_XeGanMay] PRIMARY KEY CLUSTERED 
(
	[MaLoaiXeGanMay] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[Ten] [nvarchar](50) NULL,
	[DiaChi] [nvarchar](max) NOT NULL,
	[SoDienThoai] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MaNhaCungCap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MaNhanVien] [nchar](10) NOT NULL,
	[TenNhanVien] [nvarchar](50) NOT NULL,
	[Sodienthoai] [nvarchar](50) NOT NULL,
	[DiaChi] [nvarchar](max) NULL,
 CONSTRAINT [PK_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVienBanHang]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVienBanHang](
	[MaNhanVien] [nchar](10) NOT NULL,
	[Luong] [float] NOT NULL,
	[DoanhSo] [int] NULL,
 CONSTRAINT [PK_NhanVienBanHang] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhanKhoi]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanKhoi](
	[MaPhanKhoi] [nchar](10) NOT NULL,
	[TenPhanKhoi] [nchar](10) NOT NULL,
 CONSTRAINT [PK_PhanKhoi] PRIMARY KEY CLUSTERED 
(
	[MaPhanKhoi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PhieuNhap]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuNhap](
	[MaPhieuNhap] [nvarchar](50) NOT NULL,
	[MaNhaCungCap] [nchar](10) NOT NULL,
	[MaNhanVien] [nchar](10) NOT NULL,
	[NgayLap] [date] NOT NULL,
	[TongTien] [int] NOT NULL,
 CONSTRAINT [PK_PN] PRIMARY KEY CLUSTERED 
(
	[MaPhieuNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[QuanLy]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QuanLy](
	[MaNhanVien] [nchar](10) NOT NULL,
	[Luong] [float] NOT NULL,
	[Thuong] [float] NOT NULL,
 CONSTRAINT [PK_QuanLy] PRIMARY KEY CLUSTERED 
(
	[MaNhanVien] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[TenDangNhap] [nvarchar](150) NOT NULL,
	[TenHienThi] [nvarchar](250) NULL,
	[MatKhau] [varchar](250) NULL,
	[Quyen] [nvarchar](250) NULL,
	[Email] [varchar](550) NULL,
 CONSTRAINT [PK_TaiKhoan] PRIMARY KEY CLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Xe]    Script Date: 06/12/2023 09:21:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Xe](
	[SoKhung] [nchar](50) NOT NULL,
	[SoMay] [nchar](50) NOT NULL,
	[TinhTrang] [nvarchar](50) NULL CONSTRAINT [df_tinhtrang]  DEFAULT (N'chưa bán'),
	[MaLoaiXeGanMay] [nchar](10) NOT NULL,
 CONSTRAINT [PK_Xe] PRIMARY KEY CLUSTERED 
(
	[SoKhung] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [SoKhungXe], [GiamGia], [DonGia], [ThanhTien]) VALUES (N'HD14112023_194922', N'LA00192                                           ', 2000000, 35000000, 36750000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [SoKhungXe], [GiamGia], [DonGia], [ThanhTien]) VALUES (N'HD14112023_194922', N'LA001-BH001                                       ', 2000000, 35000000, 36750000)
INSERT [dbo].[ChiTietHoaDon] ([MaHoaDon], [SoKhungXe], [GiamGia], [DonGia], [ThanhTien]) VALUES (N'HD5122023_184601', N'GH848022-83833                                    ', 1000000, 41000000, 44050000)
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [SoKhungXe], [SoMay], [DonGia], [MaLoaiXeGanMay]) VALUES (N'PN14112023_181625', N'GH838022-83836                                    ', N'BA-00290-113                                      ', 41000000, N'LX0004    ')
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [SoKhungXe], [SoMay], [DonGia], [MaLoaiXeGanMay]) VALUES (N'PN14112023_181625', N'GH838022-83838                                    ', N'BA-00230-112                                      ', 37000000, N'LX0003    ')
INSERT [dbo].[ChiTietPhieuNhap] ([MaPhieuNhap], [SoKhungXe], [SoMay], [DonGia], [MaLoaiXeGanMay]) VALUES (N'PN14112023_181625', N'JK0000-1234                                       ', N'BA-00290-1DDF                                     ', 41000000, N'LX0004    ')
INSERT [dbo].[DongXe] ([madongxe], [tendongxe], [tinhnang], [phankhoi], [maloai], [mahang]) VALUES (N'DX0001    ', N'Vision    ', N'Ngồi êm ái', N'PK0002    ', N'TG        ', N'H0001     ')
INSERT [dbo].[DongXe] ([madongxe], [tendongxe], [tinhnang], [phankhoi], [maloai], [mahang]) VALUES (N'DX0002    ', N'Exciter 155 VVA', N'Van Biến Thiên, Nồi TRống Trượt', N'PK0004    ', N'TC        ', N'H0002     ')
INSERT [dbo].[DongXe] ([madongxe], [tendongxe], [tinhnang], [phankhoi], [maloai], [mahang]) VALUES (N'DX0003    ', N'Exciter 150', N'Màn Hình LCD', N'PK0003    ', N'TC        ', N'H0002     ')
INSERT [dbo].[HangXe] ([MaHang], [TenHang], [SoDienThoai], [DiaChi], [Logo]) VALUES (N'H0001     ', N'HonDa     ', N'0292846537', N'Quận 5 TP Hồ Chí Minh', N'tải xuống.png')
INSERT [dbo].[HangXe] ([MaHang], [TenHang], [SoDienThoai], [DiaChi], [Logo]) VALUES (N'H0002     ', N'Yamaha    ', N'0917535847', N'Đống Đa, Hà Nội', N'yamaha.png')
INSERT [dbo].[HangXe] ([MaHang], [TenHang], [SoDienThoai], [DiaChi], [Logo]) VALUES (N'H0003     ', N'SYM       ', N'0919111922', N'Thành Phố Đà Nẳng', N'sym.png')
INSERT [dbo].[HinhThucThanhToan] ([MaHinhThuc], [TenHinhThuc]) VALUES (N'HT01      ', N'Tiền Mặt')
INSERT [dbo].[HinhThucThanhToan] ([MaHinhThuc], [TenHinhThuc]) VALUES (N'HT02      ', N'Internet Banking')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (N'KH01      ', N'Nguyễn Tấn Tài', N'Huyện Cần Giuoc,Tỉnh Long An', N'0780599466')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (N'KH01     8', N'Nguyễn Tấn Tài', N'Huyện Cần Giuoc,Tỉnh Long An', N'(078) 059-9466')
INSERT [dbo].[KhachHang] ([MaKhachHang], [TenKhachHang], [DiaChi], [SoDienThoai]) VALUES (N'KH02      ', N'Nguyễn Huỳnh Như', N'Quận 5, TP Hồ Chí Minh', N'0866332556')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'MT        ', N'Moto')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'TC        ', N'Tay Côn')
INSERT [dbo].[LoaiXe] ([MaLoaiXe], [TenLoaiXe]) VALUES (N'TG        ', N'Tay Ga')
INSERT [dbo].[LoaiXeGanMay] ([MaLoaiXeGanMay], [TenXe], [MaDongXe], [TenHang], [TenLoai], [NamSanXuat], [MauSac], [GiaBan], [Anh]) VALUES (N'LX0001    ', N'Vison bảng tiêu chuẩn 2023', N'DX0001    ', N'HonDa     ', N'Tay Ga', CAST(N'2023-10-20' AS Date), N'Đen Bóng', 100000000, N'vision.jpeg')
INSERT [dbo].[LoaiXeGanMay] ([MaLoaiXeGanMay], [TenXe], [MaDongXe], [TenHang], [TenLoai], [NamSanXuat], [MauSac], [GiaBan], [Anh]) VALUES (N'LX0002    ', N'Exciter 155 Bảng Cao Cấp 2022', N'DX0002    ', N'Yamaha    ', N'Tay Côn', CAST(N'2022-02-20' AS Date), N'Xám Xi Măng', 42000000, N'ex155.jpeg')
INSERT [dbo].[LoaiXeGanMay] ([MaLoaiXeGanMay], [TenXe], [MaDongXe], [TenHang], [TenLoai], [NamSanXuat], [MauSac], [GiaBan], [Anh]) VALUES (N'LX0003    ', N'Vison bảng cao cấp 2023', N'DX0001    ', N'HonDa     ', N'Tay Ga', CAST(N'2023-10-20' AS Date), N'Xám', 37000000, N'vison_bcc_2023.jpeg')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Ten], [DiaChi], [SoDienThoai]) VALUES (N'NCC01     ', N'Mô Tô Mã Lực', N'Tân Bình', N'0298929291')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Ten], [DiaChi], [SoDienThoai]) VALUES (N'NCC02     ', N'SX Phụ Tùng An Khánh', N'An Giang', N'02828282929')
INSERT [dbo].[NhaCungCap] ([MaNhaCungCap], [Ten], [DiaChi], [SoDienThoai]) VALUES (N'NCC03     ', N'Công Ty TNHH MTV Xe Máy Nhập Khẩu Sài Gòn', N'Quận 5 TP Hồ chí Minh', N'092928382')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [Sodienthoai], [DiaChi]) VALUES (N'NV00      ', N'Cao Hoàng Khánh Băng', N'38383822992', N'Quận Tân Bình')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [Sodienthoai], [DiaChi]) VALUES (N'NV01      ', N'Đào Thị Hồng', N'0919847732', N'Quận 12 Tp Hồ Chí Minh')
INSERT [dbo].[NhanVien] ([MaNhanVien], [TenNhanVien], [Sodienthoai], [DiaChi]) VALUES (N'NV02      ', N'Nguyễn Chí Tài', N'0821275784', N'Quận Tân Phú Tp Hồ Chí Minh')
INSERT [dbo].[NhanVienBanHang] ([MaNhanVien], [Luong], [DoanhSo]) VALUES (N'NV01      ', 6500000, 30)
INSERT [dbo].[NhanVienBanHang] ([MaNhanVien], [Luong], [DoanhSo]) VALUES (N'NV03      ', 7000000, 50)
INSERT [dbo].[NhanVienBanHang] ([MaNhanVien], [Luong], [DoanhSo]) VALUES (N'NV07      ', 8000000, 20)
INSERT [dbo].[PhanKhoi] ([MaPhanKhoi], [TenPhanKhoi]) VALUES (N'PK0001    ', N'110cc     ')
INSERT [dbo].[PhanKhoi] ([MaPhanKhoi], [TenPhanKhoi]) VALUES (N'PK0002    ', N'125cc     ')
INSERT [dbo].[PhanKhoi] ([MaPhanKhoi], [TenPhanKhoi]) VALUES (N'PK0003    ', N'150cc     ')
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhaCungCap], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'PN14112023_181625', N'NCC02     ', N'NV05      ', CAST(N'2023-11-14' AS Date), 155000000)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhaCungCap], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'PN5122023_231952', N'NCC04     ', N'NV04      ', CAST(N'2023-12-05' AS Date), 41000000)
INSERT [dbo].[PhieuNhap] ([MaPhieuNhap], [MaNhaCungCap], [MaNhanVien], [NgayLap], [TongTien]) VALUES (N'PN5122023_232355', N'NCC05     ', N'NV05      ', CAST(N'2023-12-05' AS Date), 106000000)
INSERT [dbo].[QuanLy] ([MaNhanVien], [Luong], [Thuong]) VALUES (N'NV04      ', 20000000, 5000000)
INSERT [dbo].[QuanLy] ([MaNhanVien], [Luong], [Thuong]) VALUES (N'NV05      ', 12500000, 2000000)
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [TenHienThi], [MatKhau], [Quyen], [Email]) VALUES (N'Bang', N'Quản trị viên', N'2', N'quanLy', N'admin@gmail.com')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [TenHienThi], [MatKhau], [Quyen], [Email]) VALUES (N'bangcao', N'bangcao', N'150231146241509418344146165732219051118', N'nhanVien', N'bangcao@gmail.com')
INSERT [dbo].[TaiKhoan] ([TenDangNhap], [TenHienThi], [MatKhau], [Quyen], [Email]) VALUES (N'nhanvien1', N'aaaaaa', N'1962026656160185351301320480154111117132155', N'nhanVien', N'abc@gmail.com')
INSERT [dbo].[Xe] ([SoKhung], [SoMay], [TinhTrang], [MaLoaiXeGanMay]) VALUES (N'EX363-HN                                          ', N'BH0202993-98EGN                                   ', N'chưa bán', N'LX0002    ')
INSERT [dbo].[Xe] ([SoKhung], [SoMay], [TinhTrang], [MaLoaiXeGanMay]) VALUES (N'EX363-HN0002                                      ', N'BH-8888-98EGN                                     ', N'chưa bán', N'LX0002    ')
INSERT [dbo].[Xe] ([SoKhung], [SoMay], [TinhTrang], [MaLoaiXeGanMay]) VALUES (N'EX463-HN001                                       ', N'HD1193-98EGN                                      ', N'chưa bán', N'LX0007    ')
ALTER TABLE [dbo].[ChiTietHoaDon]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietHoaDon_Xe] FOREIGN KEY([SoKhungXe])
REFERENCES [dbo].[Xe] ([SoKhung])
GO
ALTER TABLE [dbo].[ChiTietHoaDon] CHECK CONSTRAINT [FK_ChiTietHoaDon_Xe]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_ChiTietPhieuNhap_LoaiXeGanMay] FOREIGN KEY([MaLoaiXeGanMay])
REFERENCES [dbo].[LoaiXeGanMay] ([MaLoaiXeGanMay])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_ChiTietPhieuNhap_LoaiXeGanMay]
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_CTPN_HD] FOREIGN KEY([MaPhieuNhap])
REFERENCES [dbo].[PhieuNhap] ([MaPhieuNhap])
GO
ALTER TABLE [dbo].[ChiTietPhieuNhap] CHECK CONSTRAINT [FK_CTPN_HD]
GO
ALTER TABLE [dbo].[DongXe]  WITH CHECK ADD  CONSTRAINT [FK_DongXe_HangXe] FOREIGN KEY([mahang])
REFERENCES [dbo].[HangXe] ([MaHang])
GO
ALTER TABLE [dbo].[DongXe] CHECK CONSTRAINT [FK_DongXe_HangXe]
GO
ALTER TABLE [dbo].[DongXe]  WITH CHECK ADD  CONSTRAINT [FK_DongXe_LoaiXe] FOREIGN KEY([maloai])
REFERENCES [dbo].[LoaiXe] ([MaLoaiXe])
GO
ALTER TABLE [dbo].[DongXe] CHECK CONSTRAINT [FK_DongXe_LoaiXe]
GO
ALTER TABLE [dbo].[DongXe]  WITH CHECK ADD  CONSTRAINT [FK_DongXe_PhanKhoi] FOREIGN KEY([phankhoi])
REFERENCES [dbo].[PhanKhoi] ([MaPhanKhoi])
GO
ALTER TABLE [dbo].[DongXe] CHECK CONSTRAINT [FK_DongXe_PhanKhoi]
GO
ALTER TABLE [dbo].[LoaiXeGanMay]  WITH CHECK ADD  CONSTRAINT [FK_LoaiXeGanMay_DongXe] FOREIGN KEY([MaDongXe])
REFERENCES [dbo].[DongXe] ([madongxe])
GO
ALTER TABLE [dbo].[LoaiXeGanMay] CHECK CONSTRAINT [FK_LoaiXeGanMay_DongXe]
GO
ALTER TABLE [dbo].[NhanVienBanHang]  WITH CHECK ADD  CONSTRAINT [FK_NhanVienBanHang_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[NhanVienBanHang] CHECK CONSTRAINT [FK_NhanVienBanHang_NhanVien]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_NCC_PN] FOREIGN KEY([MaNhaCungCap])
REFERENCES [dbo].[NhaCungCap] ([MaNhaCungCap])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_NCC_PN]
GO
ALTER TABLE [dbo].[PhieuNhap]  WITH CHECK ADD  CONSTRAINT [FK_NV_PN] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[QuanLy] ([MaNhanVien])
GO
ALTER TABLE [dbo].[PhieuNhap] CHECK CONSTRAINT [FK_NV_PN]
GO
ALTER TABLE [dbo].[QuanLy]  WITH CHECK ADD  CONSTRAINT [FK_QuanLy_NhanVien] FOREIGN KEY([MaNhanVien])
REFERENCES [dbo].[NhanVien] ([MaNhanVien])
GO
ALTER TABLE [dbo].[QuanLy] CHECK CONSTRAINT [FK_QuanLy_NhanVien]
GO
ALTER TABLE [dbo].[Xe]  WITH CHECK ADD  CONSTRAINT [FK_Xe_LoaiXeGanMay] FOREIGN KEY([MaLoaiXeGanMay])
REFERENCES [dbo].[LoaiXeGanMay] ([MaLoaiXeGanMay])
GO
ALTER TABLE [dbo].[Xe] CHECK CONSTRAINT [FK_Xe_LoaiXeGanMay]
GO
